.centered-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.centered-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 10px 0;
  height: 80px;
  font-weight: bold;
}

.booking,.quota,.search,.download{
  background-color: rgb(252, 227, 201);
  width: 85%;
  font-size: 30px;
  border-radius: 10px;
  margin: 10px 0;
  letter-spacing: 4px;
}



