<div class="title">
  <h1>文件下載</h1>
</div>


<div class="menu">
  <ng-container *ngFor="let menu of menus; let last = last" >
    <div class="menu-item" (click)="toggleMenu(menu.name)">

      <h3>{{ menu.name }}</h3>
      <hr *ngIf="!last" class="menu-divider">
      <div [ngClass]="{'sub-menu': true, 'open': activeMenu === menu.name}">
        <!-- <a *ngFor="let link of menu.links" [routerLink]="link.url">{{ link.label }}</a> -->
        <a *ngFor="let link of menu.links" [href]="link.url">{{ link.label }} </a>
        <hr *ngIf="!last" class="menu-divider">
      </div>
    </div>


  </ng-container>

  <div class="newTaipei" routerLink="menu/quota/quota-search">
    <h3>新北</h3>
  </div>

</div>
