<div class="container">
  <h1>爬梯機查詢</h1>

  <div class="prompt">
    <i class="bi bi-question-circle" style="font-size: 1.5em;" (click)="showPrompt()"></i>
  </div>

  <div class="input-area">
    <input type="text" id="keyInput" class="keyInput" placeholder="請輸入姓名或身分證" [(ngModel)]="key">
    <div class="btn-g">
      <button class="btn btn-dark" (click)="searchQuota()">查詢</button>
      <button class="btn btn-danger" (click)="clearInputs()">清除</button>
    </div>


  </div>

  <div *ngIf="showEmptyKeyWarning" class="no-data-text">
    <p>請填寫身分證或名字後再提交！</p>
  </div>

  <div class="d-flex justify-content-center" *ngIf="isLoading" >
    <div class="spinner-border"  role="status">
      <span class="visually-hidden"></span>
    </div>
  </div>

  <div *ngIf="LTCQuotaList.length === 0 && showNoDataMessage" class="no-data-text">
    <p>查無資料，請重新確認輸入內容</p>
    <p>新個案請點擊下方Line@，通知人員協助下載，謝謝！</p>
    <a href="https://lin.ee/F9sIMMq" target="_blank">新北爬梯機Line@</a>
  </div>

  <div *ngIf="quotas.length > 0">
    <div *ngFor="let quota of quotas" class="quota-card">
      <p>個案姓名： {{ quota.PassengerName }}</p>
      <p>身分證字號： {{ quota.PassengerId }}</p>


      <div *ngIf="quota.Number !==''  " >
        <h4>編號：{{quota.Number}}</h4>
      </div>
      <div *ngIf="quota.Number ===''  " >
        <h4>編號：查無編號紀錄</h4>
      </div>


      <div *ngIf="quota.Quota !=='' && quota.Quota > 4001 " >
        <p>剩餘額度：{{ quota.Quota }}</p>
      </div>
      <div *ngIf="quota.Quota < 4000 && quota.Quota>0" class="text-danger">
        <p>剩餘額度：{{ quota.Quota }}</p>
        <p>額度即將使用完畢，如需轉市款專案或有其他問題，請通知相關人員處理，謝謝！ </p>
      </div>
      <div *ngIf="quota.Quota === ''" class="text-danger">
        <p>剩餘額度：查無請款紀錄</p>
      </div>
      <div *ngIf="quota.Quota ==='市款' " >
        <p>剩餘額度：{{ quota.Quota }}</p>
      </div>


      <div *ngIf="quota.PdfUrl === ''">
        <p>請款表連結：查無請款表檔案</p>
      </div>
      <div *ngIf="quota.PdfUrl !== '' && quota.PdfUrl !== '撐桿' && quota.PdfUrl !== '履帶'" >
        <p>請款表連結：
          <a [href]="quota.PdfUrl" target="_blank" *ngIf="quota.PdfUrl !== ''">
            點我下載
          </a>
        </p>
      </div>
      <div *ngIf="quota.PdfUrl === '撐桿'">
        <p>型號：撐桿式</p>
      </div>
      <div *ngIf="quota.PdfUrl === '履帶'">
        <p>型號：履帶式</p>
      </div>


      <div *ngIf="quota.UpdateDate === '#REF!'">
        <p>資料更新日期：查無資料</p>
      </div>
      <div *ngIf="quota.UpdateDate !== '#REF!'">
        <p>資料更新日期：{{ quota.UpdateDate }}</p>
      </div>
    </div>
  </div>

</div>
