.quota-card{
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1.5px solid #4a4e69;
  background-color: 		#FFFFF0;
  border-radius: 6px;
  font-weight: bold;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  font-weight: bolder;
  background-color: #FFE4C4;
  border-radius: 5px;
  height: 35px;
  letter-spacing: 2px;
  font-size: 26px;
}

input{
  padding-left: 3px;
  height: 36px;
  font-size: 16px;
}

label{
  font-weight: bold;
}

p,a{
  font-size: 18px;
  margin-bottom: 6px;
  padding: 5px;
}

a{
  display: inline-block;
  height: 20px;
  font-weight: bold;
}

.d-flex{
  align-items: center;
  height: 100px;
}

.input-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
}

.btn{
  margin-right : 5px ;
}

.no-data-text p{
  font-size: 20px;
  color: red;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}


h4{
  font-size: 18px;
  margin-bottom: 6px;
  padding: 5px;
  font-weight: bold;
}

.keyInput{
  width: 55%;
}

.prompt{
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

