.btn {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.form-control.ng-invalid.ng-touched{
    border:1px solid red;
}


.form-control{
  height: 35px;
  font-size: 0.9rem;
}


.form-group{
  font-weight: bolder;
}

label {
  margin-bottom: 0.1rem;
  font-size: 15px;
}

.container{
  background-color: #ffebd4;
  padding-top: 20px;
  border-radius: 8px;
}

h1{
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 26px;
}

.options{
  font-size: 0.9rem;
  margin-right: 5px;
}


.radio-group{
  display: flex;
  justify-content: space-between;
}


:host ::ng-deep .timepicker .p-calendar {
  height: 35px;
  width: 100%;
}


:host ::ng-deep .timepicker .p-calendar {
  height: 35px !important;
  width: 100%;
}

