input{
  width: 80%;
  height: 40px;
  padding-left: 5px;
}

.inputbox{
  display: flex;
  justify-content : space-evenly;
  font-size: 20px;
  padding-top: 10px;
}

.btn-group{
  display: flex;
  justify-content: center;
  padding-top: 3px;
}

.text{
  padding-top: 20px;
  font-size: 16px;
  font-weight: bolder;
}

.result{
  padding-top: 20px;
  font-size: 32px;
}

.clear{
  padding-top: 50px;
}

h1{
  font-size: 26px;
}

